{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "parserOptions": {
        "sourceType": "module",
    },
    "plugins": [],
    "rules": {
    }
}
